input::-webkit-input-placeholder { /* WebKit browsers*/ 
　　color: #d8d8d8;font-size:14px;
　　}
input::-moz-placeholder {  /* Mozilla Firefox 4 to 18*/ 
　　color: #d8d8d8;font-size:14px;
　　}
input:-ms-input-placeholder { /* Internet Explorer 10+*/ 
　　color: #d8d8d8;font-size:14px;
}
/*----------------------联系我们------------------------------*/
.relationUs{
    background-color:#f9f9f9f9;
}
.relationUs .relationUs-banner{
    height: 38rem;
}
.relationUs .relation{
    margin-top: 4rem;
}
.relationUs .relation h3{
    font-family: MicrosoftYaHei;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #333333;
}
.relationUs .relation .information{
    margin-left: 15px;
    margin-top: 19px;
    margin-bottom: 2rem;
}
.relationUs .relation p{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #333333;
}
.relationUs .map{
    background-color: #ffffff;
    box-shadow: 1px 2px 2px 1px 
        rgba(0, 0, 0, 0.1);
    height: 31rem;
    margin-bottom: 4rem;
}
.relationUs .map-con{
    width: 94rem;
    height: 30rem;
    border-radius: 1rem;
    border: solid 0rem #d8d8d8;
    padding-top: 10px;
    padding-left: 10px;
}
/*-----------------------货币换算-----------------*/
.scaler .currencyTranslation-banner{
    height: 9rem;
}
.scaler .currencyTranslation{
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.scaler .currencyTranslation img{
     display: inline; 
}
.scaler .container{
    padding-bottom: 5rem;
}
.scaler .container .scalerinput{
   /*  text-align: center; */
   width: 54rem;
    height: 30rem;
    background-color: #ffffff;
    box-shadow: 2px 4px 4px 0px 
        rgba(0, 0, 0, 0.1);
/*     opacity: 0.37; */
    margin:0 auto;
}
.scaler .container .scalerinput .inputt .input-group label{
    display: inline;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    line-height: 6px;
    letter-spacing: 0px;
    color: #333333;
}
.scaler .container .scalerinput .inputt{
   /*  display: inline-block; */
}
.scaler .container .scalerinput{
    padding:4rem 2rem;
}
.scaler .container .scalerinput .but{
    text-align: center;
}
.scaler .container .scalerinput .but1{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.scaler .container .scalerinput .but1 button{
    width: 100px;
    height: 36px;
    background-color: #00b7a1;
    border-radius: 4px;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 6px;
    letter-spacing: 0px;
    color: #ffffff;
    border-width: 1px;
}
.scaler .container .scalerinput .but2{
    font-family: MicrosoftYaHei;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 0rem;
    letter-spacing: 0rem;
    color: #333333;
    margin-bottom: 60px;
}
.scaler .container .scalerinput .inputt .input-group .custom-select{
    
}
.scaler .container .bank{
    margin-top: 3rem;
}
.scaler .container .bank h3{
    font-family: MicrosoftYaHei;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: 0rem;
    color: #333333;
    margin-bottom: 20px;
}
.scaler .container .bank p{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight:800;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: 0rem;
    color: #666666;
}
/*----------------------首页------------------------------*/
/*-------------标签页------------------*/
.globalTrade .vtabs {
  display: table; }
  .globalTrade .vtabs .tabs-vertical {
    width: 150px;
    border-bottom: 0px;
    border-right: 1px solid #e9ecef;
    display: table-cell;
    vertical-align: top; }
    .globalTrade .vtabs .tabs-vertical li .nav-link {
      color: #343a40;
      margin-bottom: 10px;
      border: 0px;
      border-radius: 0.25rem 0 0 0.25rem; 
      font-weight: 600;
  }
  .globalTrade .vtabs .tab-content {
    display: table-cell;
   /*  padding: 20px; */
    vertical-align: top; }

.globalTrade .tabs-vertical li .nav-link.active,
.globalTrade .tabs-vertical li .nav-link:hover,
.globalTrade .tabs-vertical li .nav-link.active:focus {
  background: #fb9678;
  border: 0px;
  color: #fff; }

/*Custom vertical tab*/
.globalTrade .customvtab .tabs-vertical li .nav-link.active,
.globalTrade .customvtab .tabs-vertical li .nav-link:hover,
.globalTrade .customvtab .tabs-vertical li .nav-link:focus {
      background: #f9f9f9;
    border: 0px;
    border-right: 2px solid #3477ff;
    margin-right: -1px;
    color: #3477ff; }

.globalTrade .tabcontent-border {
  border: 1px solid #ddd;
  border-top: 0px; 
  box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.globalTrade .customtab2 li a.nav-link {
  border: 0px;
  margin-right: 3px;
  color: #212529; }
.globalTrade .customtab2 li a.nav-link.active {
    background: #fb9678;
    color: #fff; }
.globalTrade .customtab2 li a.nav-link:hover {
    color: #fff;
    background: #fb9678; }
.globalTrade .nav-item-right,.nav-item-left{
    width: 50%;
}
.globalTrade .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.1);
}
/* -------------gundong */
.wrap {height: 100px; background-color: #ffffff; box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.06); border: 1px solid #ddd; background: #f5f5f5;}
.dowebok {height: 90px !important}
.dowebok li { overflow: hidden; zoom: 1;}
.dowebok span { color: #333; text-decoration: none;}
.dowebok span:hover { color: #000;}  

/*-------*/
.padd{
    background-color: #ffffff;
    box-shadow: 2px 4px 4px 0px 
        rgba(0, 0, 0, 0.06);
}
.tex h3{
    margin-top: 4rem;
    font-family: MicrosoftYaHei-Bold;
    font-size: 30px;
    font-weight: 900;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 10px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
    color: #3477ff;
}
.globalTrade .nav-tabs a{
   color: #999999;
}
.globalTrade .tab-content .SUPPLIER-r .SUPPLIER-r-top{
    padding:0px 20px 20px 20px;
    margin-bottom: 15px;
    margin-left: -6px;
}
.globalTrade{
    margin-top: 3rem;
    margin-bottom: 4rem;
    margin-left: -4px;
}
.globalTrade .card{
    margin-bottom: 0px;
}
.globalTrade .card .card-body{
    padding: 0px;
}
#SUPPLIER{
    padding: 3rem 2rem 1rem 3rem;
}
#SUPPLIER .btn-s{
    height: 38px;
}
#SUPPLIER .col-md-8 {
    padding-right: 23px;
}
#SUPPLIER .col-md-8 .col-md-4{
    padding: 0px;
}
#SUPPLIER .col-md-8 .row-down .padd{
   margin:0px 3px;
    padding: 20px 30px 25px 30px;

}
#SUPPLIER .col-md-8 .padd h4{
    font-family: MicrosoftYaHei-Bold;
    font-size: 16px;
    font-weight: 900;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 0px;
}
#SUPPLIER .col-md-8 .padd hr{
    border-top: 1px solid #f9f9f9;
    margin-top: 5px;
    margin-bottom: 5px;
}
#SUPPLIER .col-md-8 .padd p{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: 800;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
    margin-bottom: 0px;
}
#SUPPLIER .col-md-8 .padd ul{
    font-family: MicrosoftYaHei;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 26px;
    letter-spacing: 0px;
    color: #666666;
    margin-bottom: 10px;
}
#SUPPLIER .col-md-8 .padd ul li{

    color: #666666;

}
#SUPPLIER .col-md-8 .padd ul li a:hover{

    color: ##00c292;

}
#SUPPLIER .col-md-8 .col-md-10{
    padding: 0px;
}
#SUPPLIER .col-md-8 .row-down{
    margin-top:1rem;
    padding-left: 5px;
}
#SUPPLIER .col-md-8 .row-down .cen{
    margin-left:10px;
    margin-right:10px;
}
#SUPPLIER .col-md-8 .row-roll{
    margin-top: 20px;
    margin-bottom: 30px;
    border: 1px;
}
#SUPPLIER .col-md-8 .row-roll .col-md-4{
    padding:0px 20px 20px 24px;
}
#SUPPLIER .col-md-8 .row-roll .dowebok{
    padding:0px 20px 10px 24px;
        height: 80px !important;
}
#SUPPLIER .col-md-8 .row-roll ul li::before{
    content: url(../images/r.png);
    padding-right: 8px;
}
#SUPPLIER .col-md-8 .padd p a{
    font-family: MicrosoftYaHei-Bold;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #3477ff;
}
#SUPPLIER .col-md-8 .p{
    padding-top: 30px !important;
    padding-bottom: 26px;
}
#SUPPLIER .SUPPLIER-r{
    padding-left: 24px;
    padding-right: 36px;
    border-left: 2px solid #f9f9f9;
}
#SUPPLIER .col-md-4 .advertising{
    width: 350px;
    height: 88px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
}
#SUPPLIER .col-md-4 .advertising img{
    height: 94px;
}
#SUPPLIER .col-md-4 .padd p{
    margin-bottom: 0px;
}
#SUPPLIER .col-md-4 .padd p a{
    font-family: MicrosoftYaHei;
    font-size: 16px;
    font-weight: normal ;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #666666;
}
#SUPPLIER .col-md-4 .padd p a:hover{
    color: #3477ff;
}
.tab-content-1{
        padding-left:0px !important;
}
/* ---------------- */
#BUYERS{
                                                                padding-top: 50px !important;
                                                                padding-bottom: 45px !important;
                                                                padding-left: 40px !important;
                                                                padding-right: 20px !important;
                                                            }
                                                            #BUYERS .col-md-8 .btn-group-lg>.btn, .btn-lg{
                                                                line-height: 1;
                                                            }
                                                            #BUYERS a{
                                                               /*  color:#666666 !important; */
                                                            }
                                                            #BUYERS .SUPPLIER-r{
                                                                padding: 0px 48px 0px 20px;
                                                            }
                                                            #BUYERS .SUPPLIER-r .SUPPLIER-r-top .con p{
                                                                font-family: MicrosoftYaHei;
                                                                font-size: 16px;
                                                                font-weight: normal;
                                                                font-stretch: normal;
                                                                line-height: 30px;
                                                                letter-spacing: 0px;
                                                                color: #666666;
                                                            }
                                                            #BUYERS .SUPPLIER-r .SUPPLIER-r-top .con p a{
                                                                color: #666666;
                                                            }
                                                            #BUYERS .SUPPLIER-r .SUPPLIER-r-top .con p a:hover{
                                                                color: #3477ff !important;
                                                            }
                                                            #BUYERS .p-20{
                                                                padding:0px 14px 14px 20px !important;
                                                            }
                                                            #BUYERS .row-down-1{
                                                                margin: 2px;
                                                                margin-top: 25px;
                                                                margin-bottom: 25px;
                                                            }
                                                            #BUYERS .vtabs-1 li{
                                                                width: 130px;
                                                            }
                                                            #BUYERS .industrial .img-industrial{
                                                                width: 230px;
                                                                height: 90px;
                                                                background-color: #ffffff;
                                                                box-shadow: 2px 4px 4px 0px 
                                                                    rgba(0, 0, 0, 0.06);
                                                            }
                                                            #BUYERS .industrial li{
                                                                float: left;
                                                                padding: 0 5px;
                                                                margin: 5px 0;
                                                                border-left: 1px solid #666666;
                                                                color: #666666;
                                                                font-weight: normal;
                                                            }
                                                            #BUYERS .industrial li a{
                                                                 color: #666666;
                                                            }
                                                            #BUYERS .industrial li a:hover{
                                                             
                                                                color: #3477ff !important;;
                                                                
                                                            }
                                                            #BUYERS .industrial ul li:first-child{
                                                                padding-left: 0px;
                                                                border:none;
                                                            }
                                                            #BUYERS .industrial .row{
                                                                margin-top: 80px;
                                                               clear: both;
                                                            }
                                                            #BUYERS .industrial b{
                                                                width: 48px;
                                                                height: 16px;
                                                                font-family: MicrosoftYaHei-Bold;
                                                                font-size: 20px;
                                                                font-weight:800;
                                                                font-stretch: normal;
                                                                line-height: 30px;
                                                                letter-spacing: 0px;
                                                                color: #333333;
                                                            }
                                                            #BUYERS .tab-content-1{
                                                                padding-left: 20px;
                                                            }
                                                            #BUYERS .tab-content-1 .active{
                                                                padding-top: 0px;
                                                            }
                                                            #BUYERS .tab-content-1 .active .p-20{
                                                                padding-top: 0px;
                                                            }
                                                            #BUYERS .tab-content-1 .industrial-1{
                                                                margin-left: 20px;
                                                            }
                                                            #BUYERS .wrap-1{
                                                                 border: 1px !important;
                                                            }
                                                            #BUYERS .wrap-1 ul li{                                                               
                                                                font-family: MicrosoftYaHei;
                                                                font-size: 12px;
                                                                font-weight: normal;
                                                                font-stretch: normal;
                                                                line-height: 20px;
                                                                letter-spacing: 0px;
                                                                color: #666666;
                                                                padding: 0px;                                                            
                                                            }
                                                            #BUYERS .wrap-1 .col-md-3{
                                                                border-left: 1px solid #f9f9f9;
                                                            }
                                                            #BUYERS .wrap-1 .col-md-3:first-child{
                                                                border:none;
                                                            }
                                                            #BUYERS .wrap-1 ul li:first-child{
                                                                padding-bottom: 10px;
                                                                font-size: 14px;
                                                                color: #0a0a0a;
                                                                font-weight: 800;
                                                            }
                                                            #BUYERS .advertising{
                                                                padding: 0;
                                                                margin: 5px;
                                                            }
                                                            #BUYERS #industrialproducts{
                                                                margin-bottom: 15px;
                                                            }
                                                            #BUYERS .SUPPLIER-r .SUPPLIER-r-top{
                                                                padding:15px 20px 20px 20px;
                                                                margin-bottom: 15px;
                                                                margin-left: -6px;
                                                            }
/* -------------- */
.indexUngm{
    background-color: #f9f9f9;
    background: url('../images/UNGMbg.png') no-repeat;
}
.indexUngm img{
    display: inline;
}
.indexUngm .tex{
    margin: 60px auto;

}
.indexUngm .tex h3{
    font-family: MicrosoftYaHei-Bold;
    font-size: 30px;
    font-weight:900;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #eeeeee;
}
.indexUngm .tex h4{
    font-family: MicrosoftYaHei-Bold;
    font-size: 16px;
    font-weight: 800;
    font-stretch: normal;
    line-height: 47px;
    letter-spacing: 0px;
    color: #eeeeee;
    margin-bottom: 0px;
}
.indexUngm .tex p{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #eeeeee;
    width: 554px;
    text-align: left;
}
/* ---------- */
.indexUngm .roll{
    position: relative;
    left: -50px;
    height: 500px;
}
.indexUngm .roll .als-item-1{
    background:url(../images/rol1.png);
    background-size: 100% 100%;
    color: #999999;
}
.indexUngm .roll .als-item-1:hover{
    background:url(../images/ro1.png);
    background-size: 100% 100%;
    color: #ffffff; 
}
.indexUngm .roll .als-item-2{
    background:url(../images/rol2.png);
    background-size: 100% 100%;
    color: #999999;
}
.indexUngm .roll .als-item-2:hover{
    background:url(../images/ro2.png);
    background-size: 100% 100%;
    color: #ffffff; 
}
.indexUngm .roll .als-item-3{
    background:url(../images/rol3.png);
    background-size: 100% 100%;
    color: #999999;
}
.indexUngm .roll .als-item-3:hover{
    background:url(../images/ro3.png);
    background-size: 100% 100%;
    color: #ffffff; 
}
.indexUngm .roll .als-item-4{
    background:url(../images/rol4.png);
    background-size: 100% 100%;
    color: #999999;
}
.indexUngm .roll .als-item-4:hover{
    background:url(../images/ro4.png);
    background-size: 100% 100%;
    color: #ffffff; 
}
.indexUngm .roll .als-item-5{
    background:url(../images/rol5.png);
    background-size: 100% 100%;
    color: #999999;
}
.indexUngm .roll .als-item-5:hover{
    background:url(../images/ro5.png);
    background-size: 100% 100%;
    color: #ffffff; 
}
.indexUngm .roll .als-item-6{
    background:url(../images/rol6.png);
    background-size: 100% 100%;
    color: #999999;
}
.indexUngm .roll .als-item-6:hover{
    background:url(../images/ro6.png);
    background-size: 100% 100%;
    color: #ffffff; 
}
.indexUngm .roll .als-item-7{
    background:url(../images/rol7.png);
    background-size: 100% 100%;
    color: #999999;
}
.indexUngm .roll .als-item-7:hover{
    background:url(../images/ro7.png);
    background-size: 100% 100%;
    color: #ffffff; 
}
.indexUngm .roll .als-item-8{
    background:url(../images/rol8.png);
    background-size: 100% 100%;
    color: #999999;
}
.indexUngm .roll .als-item-8:hover{
    background:url(../images/ro8.png);
    background-size: 100% 100%;
    color: #ffffff;             
}
.als-item-1, .als-item-2, .als-item-3, .als-item-4, .als-item-5, .als-item-6, .als-item-7, .als-item-8{
    padding: 80px 34px 120px 34px;
}
.als-item-1 h4, .als-item-2 h4, .als-item-3 h4, .als-item-4 h4, .als-item-5 h4, .als-item-6 h4, .als-item-7 h4, .als-item-8 h4{
    font-family: MicrosoftYaHei-Bold;
    font-size: 24px;
    font-weight:900;
    font-stretch: normal;
    line-height: 47px;
    letter-spacing: 0px;
    
}
.als-item-1 p, .als-item-2 p, .als-item-3 p, .als-item-4 p, .als-item-5 p, .als-item-6 p, .als-item-7 p, .als-item-8 p{
    font-family: MicrosoftYaHei;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
}
.als-item-1 .p-2, .als-item-2 .p-2, .als-item-3 .p-2, .als-item-4 .p-2, .als-item-5 .p-2, .als-item-6 .p-2, .als-item-7 .p-2, .als-item-8 .p-2{
    margin-top: 40px;
    padding-left: 26px !important;
    padding-right: 26px !important;
    text-align: left;
}

/* -------- */
.indexUngm .h-hp{
    margin-bottom: 40px;
    margin-top: 10px;

}
.indexUngm .cooperation{
    padding-top: 72px;
    padding-bottom: 100px;
    text-align: center;
}
.indexUngm .cooperation h3{
    font-family: MicrosoftYaHei-Bold;
    font-size: 30px;
    font-weight: 800;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #333333;
}
.indexUngm .cooperation img{
    display: inline;
}
.indexUngm .cooperation .row .col-md-4{
    padding:5px;
}
.indexUngm .cooperation .row .col-md-4 .cooperation-ph{
    height:168px;
    width: 368px;
    overflow: hidden;
}
.indexUngm .cooperation .row .col-md-4 .cooperation-ph:hover img{
    /* cursor: pointer; */
    /* transform: scale(1.1);
    -ms-transform:scale(1.1);     IE 9
    -moz-transform:scale(1.1);     Firefox
    -webkit-transform:scale(1.1); Safari 和 Chrome
    -o-transform:scale(1.1); */
        width: 104%;
    height: 104%;
}
.indexUngm .cooperation .row .col-md-4 .cooperation-ph:hover{
     box-shadow:1px 1px 8px 1px #d6d6d6;
}
/* ---------------------------------------------------------首页结束招投标服务开始------------------------------------------------------------------------ */
.bid .bid-banner{
    height: 750px;
}