
/**图片区**/
.pic img{
    width:100%;
    height:600px;
}
/**关于我们页面样式**/
/**公司介绍部分**/
.company{
    margin-top:70px;
}
.company .txt{
    margin-top:30px;
}
.company .txt p{
	font-family: "NotoSansCJK-Regular";
	font-size: 14px;
	letter-spacing: 0px;
	color: #999999;
}
.company .img-responsive img{
    width:100%;
    height:192px;
    background-color: #d8d8d8;
	box-shadow: 1px 2px 2px 0px 
        rgba(0, 0, 0, 0.1);
    margin-top:34px;
}
.company .brand{
    width:100%;
    height:490px;
    background-color: #f7f7f7;
    margin:60px 0 100px 0;
}
.company .brand .brand1{
    margin-top:70px;
}
.company .brand .brand-top{
    margin-top:40px;
}
.company .brand .brand-top .top-lt,.top-rt{
    height: 110px;
	background-color: #ffffff;
	box-shadow: 1px 2px 2px 0px 
		rgba(0, 0, 0, 0.1);
	border:1px solid  #d8d8d8;
	color: #333333;
}
.company .brand .brand-top .top-lt:hover,.top-rt:hover{
	box-shadow:2px 2px 8px 2px #d6d6d6;
	color:#00b7a1;
}
.company .brand .brand-top h3{
	font-family: "MicrosoftYaHei-Bold";
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0px;
    margin:20px 0 0 20px;
}
.company .brand .brand-top p{
	font-family: "NotoSansCJK-Regular";
	font-size: 14px;
	letter-spacing: 0px;
	margin:20px 80px 0 20px;
	color:#666666;
}
.company .brand .brand-bot{
    margin-top:10px;
}
.company .brand .brand-bot .bot-lt,.bot-rt{
    height: 140px;
	background-color: #ffffff;
	box-shadow: 1px 2px 2px 0px 
		rgba(0, 0, 0, 0.1);
	border:1px solid  #d8d8d8;
	color: #333333;
}
.company .brand .brand-bot .bot-lt:hover,.bot-rt:hover{
	box-shadow:2px 2px 8px 2px #d6d6d6;
	color:#00b7a1;
}
.company .brand .brand-bot h3{
	font-family: "MicrosoftYaHei-Bold";
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0px;
    margin:30px 0 0 20px;
}
.company .brand .brand-bot p{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	letter-spacing: 0px;
	margin:24px 80px 0 20px;
	color:#666666;
}


/**招贤纳士页面样式**/
/**标题样式**/
.join-us{
	margin-top:70px;
}
/**招聘信息框**/
.join-us .recruit{
    margin-top:40px;
}
.join-us .recruit .recruit-lt,.recruit-rt{
	background-color: #ffffff;
	box-shadow: 2px 4px 4px 0px 
		rgba(0, 0, 0, 0.1);
    border:1px solid #ffffff;
}
/**招聘信息左边框**/
/**左上边框**/
.join-us .recruit .recruit-lt .lt-top{
	margin:0 20px;
	border-bottom:2px solid #f9f9f9;
}
.join-us .recruit .recruit-lt .lt-top h2{
	font-family: "MicrosoftYaHei";
	font-size: 16px;
	color: #333333;
	display: inline-block;
	margin:30px 0 20px 0;
}
.join-us .recruit .recruit-lt .lt-top a{
	float:right;
	margin:18px 0 14px 0;
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	letter-spacing: 0px;
	color: #f9f9f9;
}
.btn-success{
	background-color: #00b7a1;
}
.btn-success:hover{
	background-color: #00b7a1;
}
/**左下边框**/
.join-us .recruit .recruit-lt .lt-bot{
	margin:16px 20px 10px 20px;
}
.join-us .recruit .recruit-lt .lt-bot h4{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	letter-spacing: 0px;
	color: #333333;
	margin-bottom:10px;
}
.join-us .recruit .recruit-lt .lt-bot p{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	letter-spacing: 0px;
	color: #999999;
	padding-left:16px;
	margin-bottom:10px;
	width:380px;
	display: inline-block;
}
.join-us .recruit .recruit-lt .lt-bot span{
	float:right;
    font-family: "MicrosoftYaHei";
	font-size: 14px;
	color: #999999;
	padding-top:18px;
}
.join-us .recruit .recruit-lt .lt-bot span:hover{
	color: #3477ff;
}
.join-us .recruit .recruit-lt .lt-bot .lt-show{
	display:none;
}
/**招聘信息右边框**/
/**右上边框**/
.join-us .recruit .recruit-rt .rt-top{
	margin:0 20px;
	border-bottom:2px solid #f9f9f9;
}
.join-us .recruit .recruit-rt .rt-top h2{
	font-family: "MicrosoftYaHei";
	font-size: 16px;
	color: #333333;
	display: inline-block;
	margin:30px 0 20px 0;
}
.join-us .recruit .recruit-rt .rt-top a{
	float:right;
	margin:18px 0 14px 0;
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	letter-spacing: 0px;
	color: #f9f9f9;
}
/**右下边框**/
.join-us .recruit .recruit-rt .rt-bot{
	margin:16px 20px 24px 20px;
}
.join-us .recruit .recruit-rt .rt-bot h4{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	letter-spacing: 0px;
	color: #333333;
	margin-bottom:10px;
}
.join-us .recruit .recruit-rt .rt-bot p{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	letter-spacing: 0px;
	color: #999999;
	padding-left:16px;
	margin-bottom:10px;
	width:380px;
	display: inline-block;
}
.join-us .recruit .recruit-rt .rt-bot span{
	float:right;
    font-family: "MicrosoftYaHei";
	font-size: 14px;
	color: #999999;
	padding-top:18px;
}
.join-us .recruit .recruit-rt .rt-bot span:hover{
	color: #3477ff;
}
.join-us .recruit .recruit-rt .rt-bot .rt-show{
	display:none;
}

/**邮箱部分**/
.join-us .mail{
    margin:40px 0 100px 0;
}
.join-us .mail span{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	color: #999999;
}
.join-us .mail span a{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	color: #3477ff;
	text-decoration: none;
}

/**使用协议页面样式**/
.dns{
	margin-top:70px;
}
/**内容**/
.dns .dnsBox{
	margin:40px 0 100px 0;
	background-color: #ffffff;
	box-shadow: 2px 4px 4px 0px 
		rgba(0, 0, 0, 0.1);
}
.dns .dnsBox .dnsTxt{
	margin:0 40px;
}
.dns .dnsBox .dnsTxt .dnsTop{
	border-bottom:2px solid #f9f9f9;
}
.dns .dnsBox .dnsTxt .dnsTop h4{
	font-family: "MicrosoftYaHei-Bold";
	font-size: 16px;
	font-weight: 600;
	color: #2e3033;
	padding:32px 0 52px 0;
}
.dns .dnsBox .dnsTxt .dnsBot p{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	font-weight: 100;
	color: #666666;
	line-height: 22px;
	text-align:justify; 
	text-justify:inter-ideograph;
}
.dns .dnsBox .dnsTxt .dnsBot .dnsOne{
	margin-top:20px;
}
.dns .dnsBox .dnsTxt .dnsBot .dnsOne .dnsSole{
	padding-bottom:40px;
}
.dns .dnsBox .dnsTxt .dnsBot .dnsBtn{
	padding:40px 0;
}
.dns .dnsBox .dnsTxt .dnsBot .dnsBtn button{
	width: 100px;
	height: 36px;
	background-color: #00b7a1;
	border:1px solid #00b7a1;
	border-radius: 4px;
	font-family: "MicrosoftYaHei";
	font-size: 16px;
	color: #ffffff;
}
.dns .dnsBox .dnsTxt .dnsBot .dnsShow{
	display:none;
}


/**版权隐私页面样式**/
.privacy{
	margin-top:70px;
}
/**内容**/
.privacy .privacyBox{
	margin:40px 0 100px 0;
	background-color: #ffffff;
	box-shadow: 2px 4px 4px 0px 
		rgba(0, 0, 0, 0.1);
}
.privacy .privacyBox .privacyTxt{
	margin:0 40px;
}
.privacy .privacyBox .privacyTxt .privacyTop{
	border-bottom:2px solid #f9f9f9;
}
.privacy .privacyBox .privacyTxt .privacyTop h4{
	font-family: "MicrosoftYaHei-Bold";
	font-size: 16px;
	font-weight: 600;
	color: #2e3033;
	line-height: 6px;
	padding:32px 0 52px 0;
}
.privacy .privacyBox .privacyTxt .privacyBot p{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	font-weight: 100;
	color: #666666;
	line-height: 22px;
	text-align:justify; 
	text-justify:inter-ideograph;
}
.privacy .privacyBox .privacyTxt .privacyBot .privacyOne{
	margin-top:20px;
}
.privacy .privacyBox .privacyTxt .privacyLine{
	margin-top:40px;
}
.privacy .privacyBox .privacyTxt .privacyBot .privacyBtn{
	padding:40px 0;
}
.privacy .privacyBox .privacyTxt .privacyBot .privacyBtn button{
	width: 100px;
	height: 36px;
	background-color: #00b7a1;
	border:1px solid #00b7a1;
	border-radius: 4px;
	font-family: "MicrosoftYaHei";
	font-size: 16px;
	color: #ffffff;
}
.privacy .privacyBox .privacyTxt .privacyBot .privacyShow{
	display:none;
}
.privacy .privacyBox .privacyTxt .privacyBot .privacyOne .privacySole{
	padding-bottom:40px;
	color: #333333;
	font-weight: 600;
}







/**注册页面样式**/
.logNav{
	background-color: #ffffff;
}
.logNav img{
	width: 90px;
	height: 20px;
	line-height: 70px;
}
.logNav a{
	float:right;
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	color: #666666;
}
.logNav a:hover{
	color: #3477ff;
}
.logBox{
	width:1000px;
	background-color: #ffffff;
	box-shadow: 2px 4px 4px 0px 
		rgba(0, 0, 0, 0.1);
	margin:0 auto;
	margin-top:40px;
	margin-bottom:100px;
}
.logBox .logOne{
	border-bottom:2px solid #f9f9f9;
	padding-left:156px;
}
.logBox .logOne p{
	font-family: "MicrosoftYaHei-Bold";
	font-size: 18px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 0px;
	color: #333333;
	padding:40px 0 20px 0;
}
.logBox .logOne .one{
	float:right;
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	letter-spacing: 0px;
	color: #333333;
	padding-right:26px;
}
.logBox .logOne .one a{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	font-weight: 600;
	color: #3477ff;
}
.logBox .logTwo ul{
	overflow: hidden;
	margin-top:56px;
}
.logBox .logTwo ul li{
    margin-bottom: 30px;
}
.logBox .logTwo ul li span{
	font-family: "MicrosoftYaHei-Bold";
	font-size: 14px;
	font-weight: 800;
	line-height: 22px;
	letter-spacing: 0px;
	color: #333333;
	margin-right:16px;
}
.logBox .logTwo ul li input{
	width: 336px;
	height: 40px;
	border-radius: 4px;
	border: solid 1px #d8d8d8;
	padding-left:14px;
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	color: #999999;
}
.logBox .logTwo ul li .code1{
	width:230px;
	border-radius: 4px 0 0 4px;
}
.logBox .logTwo ul li .code2{
	width:106px;
	margin-left:-6px;
	border-radius: 0 4px 4px 0;
	border: solid 1px #d8d8d8;
	background:#ffffff;
	padding-left:6px;
}
.logBox .readBtn{
	margin-bottom:30px;
}
.logBox .readBtn input[type='checkbox']{
    width: 14px;
    height: 14px;
	border-radius: 2px;
}
.logBox .readBtn label span{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	font-weight: normal;
	color: #999999;
}
.logBox .readBtn label a{
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	color: #3477ff;
}
.logBox .logBtn input{
	width: 336px;
	height: 46px;
	background-color: #00b7a1;
	border: none;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	font-family: "MicrosoftYaHei";
	font-size: 14px;
	letter-spacing: 0px;
	color: #ffffff;
	margin-bottom:40px;
	margin-left:80px;
}
.logBox .logBtn input.logonHide{
	background-color: #999999;
}




/**排名推广页面样式**/
.ranking{
	margin:40px 0 100px 0;
}
.ranking .rankingOne img{
	width:100%;
	height:514px;
	margin-top:40px;
}
.ranking .rankingTwo{
	margin-top:70px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
.ranking .rankingTwo .rankList{
	width:0;
	-webkit-box-flex: 1;
	background-color: #ffffff;
	box-shadow: 2px 4px 4px 0px 
		rgba(0, 0, 0, 0.1);
}
.ranking .rankingTwo .rankList:hover{
	box-shadow:2px 2px 8px 2px #d6d6d6;
}
.ranking .rankingTwo .rankLf{
	margin-left:16px;
}
.ranking .rankingTwo .rankList ul{
	padding:0 40px 46px 40px;
}
.ranking .rankingTwo .rankList ul li {
	margin-top:30px;
}
.ranking .rankingTwo .rankList ul li h3{
	font-family: MicrosoftYaHei-Bold;
	font-size: 18px;
	font-weight: 600;
	line-height: 58px;
	color: #333333;
	border-bottom:2px solid #f9f9f9;
	margin-top:-30px;
}
.ranking .rankingTwo .rankList ul .listOne{
	width: 26px;
	height: 26px;
	background-color: #00b7a1;
	border-radius:50%;
	display:inline-block;
}
.ranking .rankingTwo .rankList ul .listOne span{
	font-size: 12px;
	line-height: 26px;
	letter-spacing: 0px;
	color: #ffffff;
}
.ranking .rankingTwo .rankList ul .listTwo{
	margin-left:20px;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 26px;
	color: #666666;
}
.ranking .rankingTwo .rankList ul .listThree{
	float:right;
	font-family: MicrosoftYaHei;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0px;
	color: #666666;
}




